@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: $subtitle-font;
    font-weight: bold;
    font-style: italic;
  }

body {
    font-family: $base-font;
    color: $primary-color;
    background-color: #fff;
    font-size: $font-size-base;
    padding: 2 * $base-spacing;
}

section {
    padding: 2 * $base-spacing 0;
}

.subtitle {
    @include flex-center(row, flex-start);
    font-family: $subtitle-font;
    font-weight: bold;
    font-style: italic;
    color: $secondary-color;
    gap: $base-spacing;
    font-size: $font-size-subtitle;
    margin: 2 * $base-spacing 0;
    align-items: center;
}

a {
    color: $primary-color;
}

.cta-primary {
    @include button-styles($white, $primary-color, $primary-color);
    &:hover {
        @include button-styles($secondary-color, $white, $secondary-color);
    }
}

.cta-secondary {
    @include button-styles(transparent, none, $primary-color, $base-spacing 0);
    border-bottom: 1px solid $primary-color;
    border-radius: 0;
    padding: 0;

    &:hover {
        color: $secondary-color;
        border-bottom: 1px solid $secondary-color;
        margin: 0;
    }
}
