@mixin flex-center($direction: row, $justify-content: center) {
    display: flex;
    // align-items: center;
    flex-direction: $direction;
    justify-content: $justify-content;
}

@mixin button-styles($bg-color, $border-color, $text-color, $padding: $base-spacing 2 * $base-spacing) {
    padding: $padding;
    background-color: $bg-color;
    border: 1px solid $border-color;
    color: $text-color;
    border-radius: $base-spacing;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: $border-color;
        color: $bg-color;
        border: 1px solid $bg-color;
    }
}
