@use 'variables' as *;
@use 'mixins' as *;

@media (min-width: 600px) {
  header {
    .profile-pic {
      width: 120px;
      height: 120px;
    }

    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 1.05rem;
    }
  }

  section {
    padding: 0 4rem 2rem;
    width: 80vw;
    max-width: 1200px;
  }

  .skills .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .popup-links {
  a {
    flex-direction: row;
  }
}
}

@media (min-width: 900px) {
  header {
    padding: 3rem 1rem 2rem;

    .profile-pic {
      width: 140px;
      height: 140px;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.3rem;
      color: $color-muted;
      margin-top: -0.5rem;
    }
  }

  section {
    width: 75vw;
    max-width: 1200px;
  }

  .projects-grid {
    flex-direction: row;
    justify-content: space-between;

    .project-card {
      width: 48%;
    }
  }

  .skills .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
