$primary-color: #303030;
$secondary-color: #03989e;
$font-color: #1b1b1b;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
$card-bg-color: #fff;
$base-font: 'Poppins', sans-serif;
$base-spacing: 8px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-title: 1.3em;
$font-size-description: 1em;
$font-size-footer: 12px;
$font-size-card-period: 0.9em;
