$primary-color: #303030;
$secondary-color: #03989E;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
$white: #fff;
$base-font: 'Poppins', sans-serif;
$subtitle-font: 'Cormorant+Garamond', serif;
$base-spacing: 8px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-title: 1.3em;
$font-size-subtitle: 1.15em;
$font-size-description: 1em;
$font-size-footer: 12px;
$font-size-card-period: 0.9em;
