* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #303030;
  background-color: #fff;
  font-size: 16px;
  padding: 16px;
}

section {
  padding: 16px 0;
}

.subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px;
  background-color: #03989e;
  border-radius: 8px;
  width: fit-content;
  color: #000;
  gap: 8px;
  font-size: 14px;
  margin: 16px 0;
}

a {
  color: #303030;
}

.cta-primary {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #303030;
  color: #303030;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.cta-primary:hover {
  background-color: #303030;
  color: #fff;
  border: 1px solid #fff;
}
.cta-primary:hover {
  padding: 8px 16px;
  background-color: #03989e;
  border: 1px solid #fff;
  color: #03989e;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.cta-primary:hover:hover {
  background-color: #fff;
  color: #03989e;
  border: 1px solid #03989e;
}

.cta-secondary {
  padding: 8px 0;
  background-color: transparent;
  border: 1px solid none;
  color: #303030;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.cta-secondary:hover {
  background-color: none;
  color: transparent;
  border: 1px solid transparent;
}
.cta-secondary:hover {
  color: #03989e;
}

header {
  background-color: #303030;
}

.skip-link {
  position: absolute;
  top: -56px;
  left: 0;
  background-color: #03989e;
  color: #000;
  padding: 8px;
  text-align: center;
  z-index: 1000;
  border: 1px solid #03989e;
  border-radius: 8px;
  transition: top 0.3s;
}
.skip-link:focus {
  top: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 16px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  background-color: #303030;
  position: absolute;
  top: 85px;
  right: 16px;
  width: 50%;
  text-align: right;
  padding: 20px;
  border-radius: 8px;
  margin: 0;
}
.nav-links li {
  margin-top: 16px;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
}
.nav-links.active {
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  border-radius: 2px;
}

.profile-section {
  display: flex;
  flex-direction: column;
}
.profile-section .profile-name {
  order: 2;
  margin-bottom: 16px;
}
.profile-section .profile-image {
  order: 1;
  text-align: center;
}
.profile-section .profile-image img {
  width: 80%;
}
.profile-section .profile-cta {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .image {
  text-align: center;
}
.about .image img {
  width: 80%;
}

.footer {
  background-color: #303030;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
.footer .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.footer .social-icons .social-icon {
  margin: 0 10px;
}
.footer .social-icons .social-icon img {
  width: 24px;
  height: 24px;
}
.footer .social-icons .social-icon:hover img {
  opacity: 0.7;
}
.footer .copyright {
  font-size: 12px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin: 8px;
  padding: 8px 8px 32px;
  text-align: center;
  width: calc(100% - 16px);
}
.card img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card .card-title {
  font-size: 1.3em;
  margin: 8px 0;
}
.card .card-description {
  font-size: 1em;
  color: #303030;
  margin-bottom: 24px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  justify-items: center;
  margin: 16px 0;
}
.skills-grid img {
  max-width: 80px;
  max-height: 80px;
}

.responsive-section {
  padding: 20px;
}
.responsive-section .column:first-of-type {
  margin-bottom: 40px;
}
.responsive-section .section-title {
  text-align: center;
  margin: 16px 0;
}
.responsive-section .scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 8px 0;
}
.responsive-section .scroll-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 220px;
  flex: 0 0 auto;
  margin: 8px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  scroll-snap-align: start;
  width: fit-content;
  text-align: left;
}
.responsive-section .scroll-container .card .card-title {
  font-size: 1.3em;
  margin-bottom: 8px;
}
.responsive-section .scroll-container .card .card-place {
  margin-bottom: 8px;
  font-weight: 700;
}
.responsive-section .scroll-container .card .card-description {
  margin-bottom: 8px;
  flex-grow: 1;
}
.responsive-section .scroll-container .card .card-period {
  font-size: 0.9em;
  color: #666;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact .contact-form-section {
  max-width: 600px;
  margin: 16px 8px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}
.contact .contact-form-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .contact-form-section form label {
  margin-bottom: 8px;
}
.contact .contact-form-section form input,
.contact .contact-form-section form textarea {
  margin-bottom: 16px;
  padding: 8px;
  border: 1px solid #303030;
  border-radius: 8px;
}
.contact .contact-form-section form button {
  padding: 8px 16px;
  background-color: #03989e;
  border: 1px solid #fff;
  color: #000;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  line-height: 16px;
}
.contact .contact-form-section form button:hover {
  background-color: #fff;
  color: #03989e;
  border: 1px solid #03989e;
}
.contact .contact-form-section form button:hover {
  padding: 8px 16px;
  background-color: #fff;
  border: 1px solid #303030;
  color: #303030;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.contact .contact-form-section form button:hover:hover {
  background-color: #303030;
  color: #fff;
  border: 1px solid #fff;
}
.contact .contact-form-section form #response-message {
  margin-top: 8px;
  color: #303030;
}

@media (min-width: 768px) {
  body {
    padding: 32px 104px;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: static;
    width: auto;
    text-align: left;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }
  .nav-links li {
    margin-left: 16px;
    margin-top: 0;
  }
  .hamburger {
    display: none;
  }
  .profile-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }
  .profile-section .profile-name,
  .profile-section .profile-image,
  .profile-section .profile-cta {
    flex: 1;
    margin-bottom: 0;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }
  .profile-section .profile-name {
    order: 1;
    flex-direction: column;
  }
  .profile-section .profile-image {
    order: 2;
    width: 60%;
  }
  .profile-section .profile-cta {
    order: 3;
    flex-direction: column;
  }
  .about {
    flex-direction: row;
  }
  .about .image,
  .about .content {
    flex: 1;
  }
  .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: calc(50% - 16px);
  }
  .skills-grid {
    grid-template-columns: repeat(5, 1fr);
  }
  .responsive-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .responsive-section .column {
    flex-basis: 48%;
    margin-bottom: 0;
  }
  .responsive-section .column .scroll-container {
    display: block;
    overflow: visible;
  }
  .responsive-section .column .scroll-container .card {
    margin: 16px 0;
    flex-direction: column;
  }
  .contact .column .image {
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .about .image img {
    width: 60%;
  }
  .card {
    width: calc(33% - 16px);
  }
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  .contact .column {
    flex: 1;
  }
  .contact .column .image {
    width: 100%;
  }
  .contact .contact-form-section {
    margin: 16px auto;
  }
}

/*# sourceMappingURL=style.css.map */
